<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Teachers timetable</title>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<button onclick="first()">
		<h3>View timetable</h3>
	</button>
	<div id="create" style="display: none;">
		<br />
		<form action="/teachersTimetable/onMonth">
			<table class="inlineTable">
				<tr>
					<td>Teacher:</td>
					<td>
						<div th:object="${teachers}">
							<select name="teacherId">
								<option th:each="teacher : ${teachers}" th:value="${teacher.id}"
									th:text="${teacher.name} + ' ' + ${teacher.surname}"></option>
							</select>
						</div>
					</td>
				</tr>
			</table>
			<br />
			<button>View on month</button>
		</form>
		<br />
		<form action="/teachersTimetable/onDay">
			<table>
				<tr>
					<td>Teacher:</td>
					<td>
						<div th:object="${teachers}">
							<select name="teacherId">
								<option th:each="teacher : ${teachers}" th:value="${teacher.id}"
									th:text="${teacher.name} + ' ' + ${teacher.surname}"></option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<td>Beginning time:</td>
					<td><input type="date" name="beginningTime" />
				</tr>
			</table>
			<br />
			<button>View on day</button>
		</form>
	</div>
	<script>
		function first() {
			var x = document.getElementById("create");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}

	</script>
</body>
</html>