<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CRUDS</title>
</head>
<body>
	<br />
	<form action="/cruds/groups">
		<button><h3>Groups CRUD</h3></button>
	</form>
	<br />
	<form action="/cruds/teachers">
		<button><h3>Teacher CRUD</h3></button>
	</form>
	<br />
	<form action="/cruds/students">
		<button><h3>Students CRUD</h3></button>
	</form>
	<br />
	<form action="/cruds/subjects">
		<button><h3>Subjects CRUD</h3></button>
	</form>
	<br />
	<form action="/cruds/lessons">
		<button><h3>Lessons CRUD</h3></button>
	</form>
</body>
</html>